<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <title>Facebook Visualization</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/cal-heatmap/cal-heatmap.css">
  <link rel="stylesheet" type="text/css" href="assets/css/base.css">
  <script type="text/javascript" src="bower_components/Chart.js/Chart.min.js"></script>
  <script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
  <script type="text/javascript" src="bower_components/cal-heatmap/cal-heatmap.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script>
</head>

<body>
  <div ng-app="fbDataApp" ng-controller="fbDataCtrl" class="container">
    <div class="row center">
      <h3>facebook data parser</h3>
      <div class="graph-cont">
        <canvas tc-chartjs-line chart-options="options" chart-data="data" auto-legend></canvas>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <a href="javascript:void(0);" class="list-group-item disabled">
            Saddest Friends
          </a>
          <li class="list-group-item" ng-repeat="sadFriend in sadFriends">
            <span class="badge">{{sadFriend[1]}}</span> {{sadFriend[0]}}
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <a href="javascript:void(0);" class="list-group-item disabled">
            Happiest Friends
          </a>
          <li class="list-group-item" ng-repeat="happyFriend in happyFriends">
            <span class="badge">{{happyFriend[1]}}</span> {{happyFriend[0]}}
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <a href="javascript:void(0);" class="list-group-item disabled">
            Best Friends
          </a>
          <li class="list-group-item" ng-repeat="bestFriend in bestFriends">
            <span class="badge">{{bestFriend[1]}}</span> {{bestFriend[0]}}
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <a href="javascript:void(0);" class="list-group-item disabled">
            Most used Words
          </a>
          <li class="list-group-item" ng-repeat="word in words">
            <span class="badge">{{word}}</span> {{word}}
          </li>
      </div>
      </ul>
    </div> -->
  </div>
  <script type="text/javascript" src="assets/js/app.js"></script>
</body>

</html>