<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <title>Facebook Visualization</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="assets/css/base.css">
  <script type="text/javascript" src="bower_components/chartjs/Chart.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script>
</head>
<body>
  <div ng-app="fbDataApp" ng-controller="fbDataCtrl">
    <div class="center">
      <h3>facebook data parse</h3>
        <li ng-repeat="(year, count) in items" ng-click="test(year)">{{year}}</li>
    </div>
  </div>
  <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>