body {
		background: #EAEDF1;
		background-image: url('../img/noise-2.png');
		font-family: 'Source Sans Pro', sans-serif;
}
.center {
		text-align: center;
		margin: 0 auto;
		display: block;
}
.graph-cont {
		display: inline-block;
		margin: 0 auto;
		padding-bottom: 60px;
}
.pie-cont {
		width: 600px;
		display: inline-block;
		margin: 0 auto;
		padding-bottom: 60px;
}
ul {
		padding-left: 0;
}
li {
		list-style: none;
}
.title {
		font-weight: 900;
		padding-bottom: 20px;
}
.pie {
		height: 320px;
}
.sentiment {
		height: 400px
}
.row {
		padding: 20px;
		margin-bottom: 40px;
		border-radius: 4px;
		border: 1px solid #D2D2D2;
		box-shadow: 0px 1px 5px #ddd;
		background-color: white;
}
.no-padding-bottom {
		padding-bottom: 0;
}
.no-margin {
		margin: 0;
}
.loading-cont {
		position: fixed;
		top: 0;
		cursor: wait;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		padding-top: 20%;
		z-index: 100;
		background-color: rgba(35, 35, 35, 0.8);
		color: white;
}
.big-font {
	font-size: 124px;
}
#yearlyhappiness {
	margin-top: 80px;
}
